@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.woff") format("woff"),
         url("../fonts/OpenSans-Bold.woff2") format("woff2"),
         url("../fonts/OpenSans-Bold.ttf") format("ttf");
    
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.woff") format("woff"),
         url("../fonts/OpenSans-Regular.woff2") format("woff2"),
         url("../fonts/OpenSans-Regular.ttf") format("ttf");

    font-weight: 400;
    font-style: normal;
}

body {
    width: 1660px;
}

header {
    color: #fff;
    font-family: OpenSans, sans-serif;
    min-width: 100%;
    position: relative;
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
    background-position: center center;
    z-index: 0;
}

header::after {
    content: "";
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    z-index: -1;    
}
.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 1200px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.panel {
    width: 100%;
}

.logo {
    float: left;
    width: 180px;
    height: 40px;
}

.menu {
    float: right;
    margin-top: 10px;
}

.menu__item {
    text-decoration: none;
    font-size: 13px;
    color: inherit;
}

.menu__item:nth-child(n+1) {
    margin-left: 35px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    

    width: 100%;
    height: 100%;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
    line-height: 75px;
    text-align: center;    
}

.intro__text {
    width: 690px;
}

footer {
    min-width: 100%;
    height: 213px;
}

.footer__container {
    width: 1200px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.articles-socials { 
    display: flex;
    justify-content: center;
    align-content: center;
    height: 83px;
    width: 100%;
    background-color: #f4f7f6;
    font-size: 16px;
    text-decoration: none;
}

.socials {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-content: center;
}

.socials-link {
    display: flex;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;

}

.socials-link-text {
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}

.socials-link-dribbble {
    background-image: url("../svg/001-dribbble.svg");
}

.socials-link-pinterest {
    background-image: url("../svg/002-pinterest.svg");
}

.socials-link-tumblr {
    background-image: url("../svg/003-tumblr.svg");
}